<div flex layout="column" tabindex="-1" class="md-whiteframe-z1" ng-init="shell.initialize()" ng-cloak>
  <centered ng-if="shell.isBusy">
    <div layout="row" layout-align="space-around center">
      <h3>{{ shell.statusMessage }}</h3>
      <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>
  </centered>
  <md-toolbar class="md-whiteframe-z3">
    <div class="md-toolbar-tools">
      <span ui-view="header"></span>
      <span class="draggable" flex></span>
      <span ui-view="toolbar"></span>
      <span class="draggable" flex></span>
      <md-button class="md-icon-button" md-no-ink ng-repeat="module in shell.modules"
                 ng-href="#{{ module.info.url }}" ng-class="{ selected: $state.includes('{{ module.info.state }}') }">
        <md-icon>{{ module.info.icon }}</md-icon>
        <md-tooltip>{{ module.info.tooltip }}</md-tooltip>
      </md-button>
      <span></span>
    </div>
  </md-toolbar>
  <md-content flex layout-fill layout-margin ui-view="module"></md-content>
  <div layout="row" layout-align="end start" layout-margin>
    <div layout-fill layout-padding ui-view="status"></div>
    <span flex></span>
    <div layout="row" layout-margin ui-view="actions"></div>
  </div>
</div>
